.ticketInfo {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  opacity: 0.9;
  border-radius: 8px;
  margin-top: 20px;
}

header h1 {
  color: #333;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #007bff;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  line-height: 1.5;
  color: black;
}

li {
  color: black;
}

#buying-form {
  padding: 1.88rem 0;
  margin: 0 1rem;
}

#buying-form h1 {
  text-align: center;
  color: #6575a8;
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #e3c4e5;
  color: var(--primary-color);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: white;
}

.ticketDiv {
  background-color: white;
  color: black;
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ticketType {
  display: flex;
  gap: 20px;
}

.buyingContainer {
  background-color: var(--primary-color);
}

.ticketSection {
  flex: 1;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
}
