/* fonts... */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap");

:root {
  --primary-color: #00796b;
  --secondary-color: #ef6c00;
  --text-color-light: #fff;
  --text-color-dark: #333;
  --navbar-color: #004d40;
  --light-color: #fff;
  --secondary-text-color: #ffb74d;
  --header-color: #01342c;
  --error-color: #960404;
  --btn-light-background: #d5d3d3;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--primary-color);
  color: var(--light-color);
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

section p {
  font-size: 0.9rem;
  padding: 0.7rem;
  text-align: center;
}

footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 0.4rem;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 2rem;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  section p {
    font-size: 1rem;
  }

  section i {
    font-size: 1.3rem;
  }
}
