.performance-info {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  color: var(--text-color-dark);
  padding: 1rem;
}
.performance-info img {
  border: solid 1px var(--text-color-dark);
  padding: 0.1rem;
  width: 100%;
}

.performance-info div {
  display: flex;
  gap: 0.8rem;
}

.performance-info .title {
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.performance-info .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  border-top: solid 1px var(--text-color-dark);
  padding-top: 1rem;
}
